<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1" verbose="1" parallel="tests" thread-count="2">
    <test name="chrome">
        <parameter name="browser" value="Chrome" />
        <classes>
            <class name="com.alexmik.arttesting.TestRunner" />
        </classes>
    </test>
    <test name="firefox">
        <parameter name="browser" value="Firefox" />
        <classes>
            <class name="com.alexmik.arttesting.TestRunner" />
        </classes>
    </test>
</suite>